html,
    body {
      height: 100%;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

#gameboard {
  margin: 0 auto;
  width: 300px;
}
td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
}
td:hover {
  background-color: #eee;
}

 /* Hover effect */
 .btn-primary:hover,
 .btn-primary:focus {
   background-color: rgba(195, 229, 243, 0.945);
   color:black
 }
